<div class="container">
  <section class="section">
    <div class="columns">
      <div class="column is-half">
        <h1 class="title">About Xeryus Stokkel</h1>
        <div class="columns">
          <div class="column is-one-quarter is-uppercase has-text-weight-semibold has-text-right-tablet">Name</div>
          <div class="column">Xeryus Stokkel</div>
        </div>
        <div class="columns">
          <div class="column is-one-quarter is-uppercase has-text-weight-semibold has-text-right-tablet">Birthdate</div>
          <div class="column">1 October 1989</div>
        </div>
        <div class="columns">
          <div class="column is-one-quarter is-uppercase has-text-weight-semibold has-text-right-tablet">Born in</div>
          <div class="column">Sneek</div>
        </div>
        <div class="columns">
          <div class="column is-one-quarter is-uppercase has-text-weight-semibold has-text-right-tablet">
            Email
          </div>
          <div class="column">
            <a href="mailto:website@brontitall.dds.nl"><fa-icon [icon]="['far', 'envelope']"></fa-icon></a>
          </div>
        </div>
      </div>
      <div class="column">
        <figure class="image is-3by2">
          <img class="is-rounded" src="/assets/headshot.jpg" />
        </figure>
      </div>
    </div>
    Xeryus is a self-proclaimed nerd that can do full-stack development. His career started almost 20 years ago by
    grabbing his father's HTML book of the shelve. At age 13 he started teaching himself real programming languages and
    he hasn't stopped since. This resulted in him taking up the study of Artificial Intelligence at the University of
    Groningen in 2012. After six long years he managed to graduate in 2018 and he may now call himself a Master of
    Artificial Intelligence.
  </section>

  <section class="section">
    <h1 class="title">
      <fa-icon [icon]="['fas', 'graduation-cap']"></fa-icon> Education
    </h1>
    <div class="columns">
      <div class="column is-one-fifth">2015-2018</div>
      <div class="column">
        Master Artificial Intelligence, University of Groningen, Groningen<br />
        <i>Graduated with a 7.8 average</i>
      </div>
    </div>
    <div class="columns">
      <div class="column is-one-fifth">2012-2015</div>
      <div class="column">
        Bachelor Artificial Intelligence, University of Groningen, Groningen<br />
        <i>Allowed entrance on the basis of Colloquium Doctum</i><br />
        <i>Graduated with a 7.6 average, 7.8 average for the propedeutic phase</i>
      </div>
    </div>
    <div class="columns">
      <div class="column is-one-fifth">2011</div>
      <div class="column">
        VAVO, Friesland College, Leeuwarden<br />
        <i>Obtained certificates for Physics, Mathematics, and Chemistry</i>
      </div>
    </div>
    <div class="columns">
      <div class="column is-one-fifth">2009-2011</div>
      <div class="column">
        Podium- en evenementtechniek, ROC Friese Poort, Drachten<br />
        <i>Failed to graduate</i>
      </div>
    </div>
    <div class="columns">
      <div class="column is-one-fifth">2002-2008</div>
      <div class="column">
        VWO, RSG Magister Alvinus, Sneek<br />
        <i>Failed to graduate</i>
      </div>
    </div>
    <div class="columns">
      <div class="column is-one-fifth">1993-2002</div>
      <div class="column">
        De Kogge, IJlst <br />
        <i>Primary school</i>
      </div>
    </div>
  </section>
</div>
